<ul class="pagination"
    *ngIf="paginas?.length > 0">

  <!--  back-->
  <li class="page-item"
      *ngIf="paginador.number > 0">
    <a class="page-link"
       [routerLink]="['/clientes/page', paginador.number-1]">&laquo;</a>
  </li>

  <li [ngClass]="paginador.number == 0 ? 'disabled page-item' : 'page-item'">
    <a class="page-link"
       [routerLink]="['/clientes/page', 0]">Primera</a>
  </li>

  <!--  pagination-->
  <li class="page-item"
      [ngClass]="pagina-1 == paginador.number ? 'disabled' : '' "
      *ngFor="let pagina of paginas">
    <span class="page-link"
          *ngIf="pagina-1 == paginador.number">{{pagina}}</span>
    <a class="page-link"
       *ngIf="pagina-1 != paginador.number"
       [routerLink]="['/clientes/page', pagina-1]">{{pagina}}</a>
  </li>

  <li [ngClass]="paginador.number == paginador.totalPages-1 ? 'disabled page-item' : 'page-item'">
    <a class="page-link"
       [routerLink]="['/clientes/page', paginador.totalPages-1]">Última</a>
  </li>

  <!--  next-->
  <li class="page-item"
      *ngIf="paginador.number < paginador.totalPages-1">
    <a class="page-link"
       [routerLink]="['/clientes/page', paginador.number+1]">&raquo;</a>
  </li>
</ul>
