<div class="card border-primary">
  <div class="card-header text-center">{{titulo}}</div>
  <div class="card-body">

    <form method="post" class="row g-3">
      <div class="input-group col-sm-6">
        <input [(ngModel)]="usuario.username"
               type="text" name="username" id="username" placeholder="Username" autofocus required
               class="form-control"/>
      </div>
      <div class="input-group col-sm-6">
        <input [(ngModel)]="usuario.password"
               type="password" name="password" id="password" placeholder="Password" required
               class="form-control">
      </div>
      <div class="input-group col-sm-6">
        <input (click)="login()"
               type="submit" class="btn btn-lg btn-primary btn-block" value="Login"/>
      </div>
    </form>

  </div>
</div>
