<div class="card bg-light">
  <div class="card-header">{{titulo}}: {{factura.descripcion}}</div>
  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/clientes']" class="btn btn-light btn-xs">&laquo; Volver</a>
    </h4>

    <form>
      <div *ngIf="factura.cliente"
           class="form-group row">
        <label for="cliente" class="col-sm-2 col-form-label">Cliente</label>
        <div class="col-sm-6">
          <input value="{{factura.cliente.nombre}} {{factura.cliente.apellido}}"
                 id="cliente" type="text" name="cliente" disabled class="form-control"/>
        </div>
      </div>

      <div class="form-group row">
        <label for="descripcion" class="col-sm-2 col-form-label">Descripcion</label>
        <div class="col-sm-6">
          <input [(ngModel)]="factura.descripcion"
                 id="descripcion" type="text" name="descripcion" class="form-control"/>
        </div>
      </div>

      <div class="form-group row">
        <label for="observacion" class="col-sm-2 col-form-label">Observacion</label>
        <div class="col-sm-6">
          <textarea [(ngModel)]="factura.observacion"
                    id="observacion" name="observacion" class="form-control"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Añadir producto</mat-label>
            <input type="text"
                   placeholder="Escriba el producto"
                   aria-label="Añadir producto"
                   matInput
                   [formControl]="autocompleteControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let producto of productosFiltrados | async" [value]="producto">
                {{producto}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <input type="submit" value="Crear Factura" class="btn btn-secondary"/>
        </div>
      </div>
    </form>

  </div>
</div>
