<detalle-cliente *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></detalle-cliente>

<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>

    <div class="my-2 text-left">
      <button *ngIf="authService.hasRole('ROLE_ADMIN')"
              class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear cliente
      </button>
    </div>

    <div *ngIf="clientes?.length == 0"
         class="alert-info">
      No hay registros en la base de datos
    </div>

    <table *ngIf="clientes?.length > 0"
           class="table table-bordered table-striped">
      <thead>
      <tr>
        <!--        <th *ngIf="authService.hasRole('ROLE_USER')">#</th>-->
        <th>#</th>
        <th>nombre</th>
        <th>apeliido</th>
        <th>email</th>
        <th>fecha</th>
        <th *ngIf="authService.hasRole('ROLE_ADMIN')">editar</th>
        <th *ngIf="authService.hasRole('ROLE_ADMIN')">eliminar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cliente of clientes">
        <!--        <td *ngIf="authService.hasRole('ROLE_USER')">-->
        <td>
          <img *ngIf="cliente?.foto"
               (click)="abrirModal(cliente)"
               src="http://localhost:8080/api/uploads/img/{{cliente.foto}}" alt="{{cliente.foto}}"
               class="img-thumbnail rounded"
               style="width: 64px; cursor: pointer">

          <img *ngIf="!cliente?.foto"
               (click)="abrirModal(cliente)"
               src="http://localhost:8080/images/no-usuario.png" alt="sin foto"
               class="img-thumbnail rounded"
               style="width: 64px; cursor: pointer">
        </td>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido | uppercase}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.createdAt | date: "EEE. dd, MMM yyyy"}}</td>
        <td *ngIf="authService.hasRole('ROLE_ADMIN')">
          <button [routerLink]="['/clientes/form', cliente.id]"
                  type="button" name="editar" class="btn btn-primary btn-sm">
            Editar
          </button>
        </td>
        <td *ngIf="authService.hasRole('ROLE_ADMIN')">
          <button (click)="delete(cliente)"
                  type="button" name="eliminar"
                  class="btn btn-danger btn-sm">
            Eliminar
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>

  </div>
</div>
